* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: pink;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 120px;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    color: brown;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
}

.menu {
    display: none;
}

@media (max-width: 780px) {
    header {
        padding: 10px 20px;
    }
    .menu {
        display: initial;
    }

    .links {
        display: none;
    }
}

@media (max-width: 540px) {
    
}