* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 143, 162);
}

.inputText {
    border: 2px solid rgb(131, 36, 52);
    border-radius: 5px;
    padding: 7px;
    background-color: pink;
    margin: 20px;
    align-items: center;
    flex-direction: column;
    color: rgb(131, 36, 52);
} 

.inputText:hover {
    border: 2px solid rgb(131, 36, 52);
    border-radius: 5px;
    padding: 7px;
    color: rgb(131, 36, 52);

}

.btnEnviar {
    border: 2px solid rgb(131, 36, 52);
    border-radius: 10px;
    background-color: pink;
    padding: 6px;
    color: rgb(131, 36, 52);
}

.h1 {
    margin-top: 20px;
    margin-top: 20px;
    color: rgb(131, 36, 52);
}

.emcima {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

li {
    padding-right: 40px;
}

.pe {
    color: rgb(131, 36, 52);
}
 
